nav.navbar {
    padding: 32px 0px !important;
}

.nav-link {
    color: var(--primary-color) !important;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.nav__active {
    color: var(--third-color) !important;
}

.nav-link:hover {
    color: #7ca4ff !important;
}


.header_menu_dropdown {
    height: auto;
    width: 516px;
    background: #146fad38;
    backdrop-filter: blur(42px);
    position: absolute;
    top: 69px;
    /* left: 36%; */
    display: none;
    z-index: 100;
}

.header_menu_dropdown:hover .header_menu_dropdown {
    display: block;
}

.header_menu_dropdown a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 10px;
    transition: 0.5s ease-in-out;
}

.header_menu_dropdown a:hover {
    background: #157cc238;
}

.menu_dropdown:hover .header_menu_dropdown {
    display: block;
}

.dropdown_menu_icon {
    transition: 0.5s ease-in-out;
}

.menu_dropdown:hover .dropdown_menu_icon {
    transform: rotate(450deg);
}
